In [111]:
import pandas as pd
import numpy as np
from scipy import stats

DATA_URL = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv'
df = pd.read_csv(DATA_URL)
df.head()

   Unnamed: 0  ... Other_Sales
0           1  ...           0
1           2  ...        0.01
2           3  ...           0
3           4  ...           0
4           5  ...        0.04

[5 rows x 10 columns]

In [112]:
def sales_format(num):
  last = len(num) - 1
  try:
    return float(num) * 1000000
  except:
    if num[last] == 'M':
      return float(num[:last]) * 1000000
    elif num[last] == 'K':
      return float(num[:last]) * 1000
    else:
      raise Exception(num)

regions = ['NA_Sales',	'EU_Sales',	'JP_Sales',	'Other_Sales']
for sales in regions:
  df[sales] = df[sales].apply(sales_format)
  
region_sales = df[['Genre', *regions]].groupby('Genre').sum()
(chi, p, dofint, expected) = stats.chi2_contingency(region_sales)
p

0.0