In [78]:
import pandas as pd
import numpy as np

DATA_URL = 'https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/datasets/vgames2.csv'
df = pd.read_csv(DATA_URL)
df.head()

   Unnamed: 0  ... Other_Sales
0           1  ...           0
1           2  ...        0.01
2           3  ...           0
3           4  ...           0
4           5  ...        0.04

[5 rows x 10 columns]

In [79]:
def sales_format(num):
  last = len(num) - 1
  try:
    return float(num) * 1000000
  except:
    if num[last] == 'M':
      return float(num[:last]) * 1000000
    elif num[last] == 'K':
      return float(num[:last]) * 1000
    else:
      raise Exception(num)

region_sales = ['NA_Sales',	'EU_Sales',	'JP_Sales',	'Other_Sales']
for sales in region_sales:
  df[sales] = df[sales].apply(sales_format)
  
df[['Genre', *region_sales]].groupby('Genre').sum()

                 NA_Sales     EU_Sales     JP_Sales  Other_Sales
Genre
Action        874810000.0  522160000.0  157900000.0  186450000.0
Adventure     105660000.0   64050000.0   51950000.0   16810000.0
Fighting      223200000.0  101220000.0   87340000.0   36640000.0
Misc          408050000.0  212360000.0  105270000.0   74040000.0
Platform      446440000.0  201610000.0  130650000.0   51530000.0
Puzzle        123350000.0   50730000.0   56870000.0   12520000.0
Racing        357190000.0  237100000.0   56400000.0   77100000.0
Role-Playing  319540000.0  183580000.0  344950000.0   56960000.0
Shooter       581920000.0  313050000.0   38280000.0  102650000.0
Simulation    182960000.0  113350000.0   63700000.0   31480000.0
Sports        680520000.0  376480000.0  135370000.0  134670000.0
Strategy       68700000.0   45320000.0   49460000.0   11360000.0